.header {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    align-items: center;
}


.search {
    margin-top: 1rem;
}

.example-form-field .mat-form-field-prefix {
    margin-right: 8px;
    
}

.buttons {
    display: flex;
  }
  
button.active {
    border-bottom: 2px solid;
  }